@import "tailwindcss";

.blueButton {
  @apply bg-blue-500 p-2 px-5 text-white rounded hover:cursor-pointer hover:opacity-90 active:opacity-100;
}

.hOneHeading {
  @apply text-xl sm:text-xl md:text-3xl font-semibold;
}

.textMuted {
  @apply text-gray-400;
}

.teamItemDiv {
  @apply p-10 sm:p-10 lg:p-20 w-full sm:w-1/2 md:w-1/3;
}
